*.pdf
*.log
*.aux
*.gz
documents/Makatun_student_card_back.jpg
documents/Makatun_student_card_front.jpg
documents/Makatun_MISTA 2015 Registration GBP.odt
Makatun_MISTA2015_draft4.blg
Makatun_MISTA2015_draft4.bbl
